* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #0f1419;
  line-height: 1.5;
}

.app {
  min-height: 100vh;
  display: flex;
  max-width: 1265px;
  margin: 0 auto;
  position: relative;
}

.app__main {
  flex: 1;
  margin-left: 275px;
  margin-right: 350px;
  min-height: 100vh;
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1264px) {
  .app__main {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .app__main {
    margin-left: 88px;
  }
}

@media (max-width: 768px) {
  .app__main {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
